@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
*{
  padding: 0;
  margin: 0;
}

/*  Global Stylings    */

body {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

header {
  background-color: #2D3945;
  font-size: .7em;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  letter-spacing: 1.4;
}

h1,
h3 {
  margin: 10px 0;
  text-align: center;
}

h2{
  color: #2D3945;
  padding-top: 15px
}

fieldset {
  margin-top: 10px;
  border: none;
  box-sizing: border-box;
  width: 100%;
}

legend {
  font-size: 1em;
  font-weight: bold;
}

p{
  text-align: center;
  padding-top: 8px;
  padding-bottom: 40px;
  font-size: 1.05em;
  color: #C7CACD;
  border-bottom: 3px solid #2d3945;
}

/*  Element Stylings    */

.form {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}

#user_info {
  padding-bottom: 15px;
  border-bottom: 2.5px solid #2D3945;
}

#newsletter {
  margin-top: 25px;
}
  #newsletter label {
    margin: 20px 0;
  }

#full_name::placeholder,
#email::placeholder {
  opacity: 0.50;
  letter-spacing: 1.5;
  text-align: right;
  font-style: italic;
}

#zip_code {
  width: 30%;
}

#user_opinion {
  padding: 15px 3px;
  margin: 25px 0;
}

#submit {
  padding: 20px 10px;
  width: 95%;
  text-align: center;
  font-size: 1.7em;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #4EBBB5;
}

#footer {
  color: #d0d0d0;
  padding-top: 5vh;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1.2px;
  padding-bottom: 20vh;
}
/*  DRY CSS   */


.form,
#user_info {
  display: flex;
  flex-direction: column;
  align-items: center;

}

label:nth-of-type(1n) {
  font-size: 1.15em;
  color: #2D3945;
  opacity: 0.8;
  width: 100%;
}

 input[type="text"],
 input[type="email"],
 input[type="tel"],
 #country,
 #user_opinion
 {
  border: none;
  background-color: #f2f2f2;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 18px;
  width: 92%;
 }
 


input[type="checkbox"],
input[type="radio"] {
  margin: 12px 0;
}


/*  Media Query  */
